
<div  class="container" style="background-color: whitesmoke;">
      <mat-icon><span class="material-icons-outlined">
            apps
            </span></mat-icon> &nbsp;
            <label style="font-size:20px">My Angular APP
            </label>
            <span style="margin-left: 70%;">
            <mat-icon >
                  <span class="material-icons-outlined">
                        signal_cellular_alt
                        </span>
                  <span class="material-icons-outlined">
                        add</span>
                        <span class="material-icons-outlined">
                              grid_view
                              </span></mat-icon>
                              <span style="margin-left: 76px;">
                                    <img  src="../../assets/images/professor.jpg" height="30px" width="30px">&nbsp;
                                    <label style="font-size:20px">Name</label>
                              </span>

                        </span>
                        
</div>